.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  height: 100vh;
  width: 100%;
  /*background-color: #0f2537;*/
  background-image: url('./images/myzip-bg-online-zip-tool.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.zip-karo-logo{
  height:60px;
  width: auto;
  margin-top: 8px;
}

.space-100{
  height: 100px;
}
.space-150{
  height: 150px;
}
.ubuntu{
  font-family: 'ubuntu';
}
.f-700{
  font-weight: 700;
}
.drop-zone{
  border: 1px dashed #fff;
  border-radius: 20px;
  padding: 50px;
  background-color: #162f44;
}
.btn-select{
  background-color: transparent;
  border: none;
}
.modal-header{
  border-bottom: none!important;
}
.sadface{
  height: 100px;
  width: auto;
}
.space-50{
  margin-top: 50px;
}
.space-75{
  margin-top: 75px;
}
.login-form-div{
  max-width: 400px;
  background-color: #ffffff66;
  padding:20px;
  border-radius: 10px;
  
}
.input-box{
  width: 100%;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  border: 0px 0px 0px 0px;
  border-bottom: 1px solid #fff;
  color:#fff;
}
::placeholder{
  color:#fff;
}
.input-box:focus-visible{
  outline: none;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right:none;
  border-left:none;

}
.link-to-login{
  text-decoration: none;
  color:#fff;
}
.navbar-myzip{
  background-color: #235390;
}
.mybtn-getstrted{
  padding:12px 100px;
  border-radius: 10px;
  font-family: 'ubuntu';
  font-weight: 600;
  width: 430px;
  border:none;
  letter-spacing: 0.2px;
}
.landing-page-ico{
  animation: App-logo-spin infinite 20s linear;
}
.cross-btn{
  border:none;
}
#style-4{
  padding-bottom: 0px;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #9f9e9e;
	border: 2px solid #ababab;
  border-radius: 10px;
}
.myzip-ip-box{
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border:none;
}
.myzip-ip-box::placeholder{
  color:#235390;
}
.myzip-textarea::placeholder{
  color:#235390;
}
.myzip-textarea{
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  border:none;
  height: 100px;
}
.myzip-send-messege{
  padding:12px 100px;
  border-radius: 10px;
  font-family: 'ubuntu';
  font-weight: 600;
  width: 400px;
  border:none;
  letter-spacing: 0.2px;
  color:#235390;
}